<div class="p-8 mt-8">
    <h1 class="text-5xl text-center font-body ">Juan Diaz</h1>
    <p class="text-accent  text-2xl text-center">Full Stack Developer - 4 years of experience - English/Spanish - Warsaw/Remote </p>
</div>