<div class="p-8 lg:w-8/12 md:w-10/12 w-full mx-auto bg-surface rounded-xl">
    <h2 class="text-4xl font-bold text-center text-accent mb-6">About Me</h2>

    <div class="space-y-4">
        <p class="text-lg">
            I'm a passionate <span class="text-accent ">Full Stack Developer</span> with 4+ years of experience
            crafting robust web applications and innovative digital solutions. I
            specialize in building <span class="text-accent ">accessible, high-performance applications</span>
            using modern technologies.
        </p>

        <p class="text-lg">
            My expertise spans across front-end frameworks like <span class="text-accent ">React</span> and <span class="text-accent ">Astro</span>,
            back-end technologies including <span class="text-accent ">Laravel</span> and <span class="text-accent ">Flask</span>, and I'm
            particularly focused on creating <span class="text-accent ">accessible digital experiences</span> that
            work for everyone.
        </p>

        <p class="text-lg">
            Originally from <span class="text-accent ">Malaga, Spain</span>, I relocated to <span class="text-accent ">Warsaw, Poland</span> to
            pursue new professional challenges and growth opportunities in its
            dynamic tech ecosystem.
        </p>
    </div>
</div>
