<div class="p-8 lg:w-8/12 md:w-10/12 w-full mx-auto bg-surface rounded-xl">
    <h2 class="text-4xl font-bold text-center text-accent">About Me</h2>
    <p class="text-center">I am a full stack developer with 4 years of experience. I am a passionate developer who is always looking for new challenges.</p>
</div>