---
---

<header class="fixed top-0 left-0 right-0 z-50 bg-surface hidden md:block">
    <div class="w-full text-xl">
        <div class="flex justify-between p-6 px-8 border-b border-accent">
            <span class="font-heading text-accent">Juan Diaz</span>
            <nav class="flex gap-8 text-text-muted">
                <a href="#home" class="hover:text-text transition-colors duration-200">Home</a>
                <a href="#stack" class="hover:text-text transition-colors duration-200">Stack</a>
                <a href="#projects" class="hover:text-text transition-colors duration-200">Projects</a>
                <a href="#about" class="hover:text-text transition-colors duration-200">About Me</a>
            </nav>
        </div>
    </div>
</header>
