---
---

<header class="sticky top-0 z-50">
    <div class=" w-full text-xl">
        <div class="flex justify-between p-6 px-8 border-b border-accent">
            <span class="font-heading text-accent">Juan Diaz</span>
            <div class="flex gap-8 text-text-muted">
                <span>Home</span>
                <span>Projects</span>
                <span>Skills</span>
                <span>Contact</span>
            </div>
        </div>
    </div>
</header>
