<div class="p-8 flex justify-between items-center w-full mx-auto bg-surface ">
    <p>© 2025 Juan Jose Diaz Hurtado.</p>
    <p>Icons by <a target="_blank" href="https://icons8.com" class="text-accent hover:text-accent-2">Icons8</a></p>
</div>